<div class="reserve-new-main">
    <div class="reserve-new-in">
      <%= image_tag (@register.avatar_path.url), size: '700x400' %>
      <div class="reserve-new-main-2">
        <div class="reserve-image"><%= image_tag (current_user.image.url), size: '55x55', class: "icon-image" %></div>
        <div class="reserve-new-main-3">
          <div class="reserve-name"><%= @register.name %></div>
          <div class="reserve-address"><%= @register.address %></div>
        </div>
      </div>
      <div class="reserve-introduction"><%= @register.introduction %></div>
    </div>
    <div class="reserve-new">
      <div class="reserve-new-input">
        <div class="reserve-price"><%= @register.price %>円 / 日</div>
        <%= form_with model: @reserve, url: confirm_reserves_path, local: true do |f| %> <!--@reserve変数に入力した値を代入して、このままだとcreateメソッドに飛んでしまうので、urlで飛び先を指定してあげる-->
          <%= f.label :starte_date, "開始日" %></br>
          <%= f.date_field :starte_date, class: "start-date" %></br>
          <%= f.label :end_date, "終了日" %></br>
          <%= f.date_field :end_date, class: "end-date" %></br>
          <%= f.label :number_people, "人数" %></br>
          <%= f.number_field :number_people, class: "number-people" %></br>

          <%= f.hidden_field :register_id, value: @register.id %>
          <%= f.hidden_field :name, value: @register.name %>
          <%= f.hidden_field :address, value: @register.address %>
          <%= f.hidden_field :introduction, value: @register.introduction %>
          <%= f.hidden_field :price, value: @register.price %>
          <%= f.hidden_field :avatar_path, value: @register.avatar_path %>

          <%= f.submit "予約完了", class: "reserve-submit" %>

          
        <% end %>
      </div>
    </div>
</div>