<div class="register-done-main">
    <p class="register-done">予約済みルーム一覧</p>
   
    <table>
      <thead>
        <tr>
          <th>ルーム画像</th>
          <th>ルーム名</th>
          <th>ルーム紹介</th>
          <th>合計料金</th>
          <th>開始日</th>
          <th>終了日</th>
          <th>予約確定日時</th>
        </tr>
      </thead>
   
      <tbody>
        <% @reserves.each do |reserve| %>
          <tr>
            <td>
                <%= image_tag (reserve.avatar_path), size: '300x200' %>
           </td>
            <td><%= link_to reserve.name, registers_path %></td>
            <td><%= reserve.introduction %></td>
            <td><%= reserve.total %>円</td>
            <td><%= reserve.starte_date %></td>
            <td><%= reserve.end_date %></td>
            <td><%= reserve.created_at.to_s(:datetime_jp) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
   </div>
