<div class="sign-up-main">
  <div class="sign-up-page">
    <div class="new-acount">
      <div class="new-acount-in">
        <p class="edit-title">アカウント編集</p>
      </div>
    </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field-new-out">
      <div class="field">
        <%= f.label "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text_field" %>
      </div>
    </div>

    <div class="field-new-out">
      <div class="field">
        <%= f.label :パスワード %><br>(変更しない場合は空白にしてください)<br />
        <%= f.password_field :password, placeholder: "変更するパスワード", autocomplete: "new-password", class: "text_field" %>
        <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %>文字以上で入力してください</em>
        <% end %>
      </div>
    </div>

    <div class="field-new-out">
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, placeholder: "確認用パスワード", autocomplete: "new-password", class: "text_field" %>
      </div>
    </div>

    <div class="field-new-out">
      <div class="field">
        <%= f.label :現在のパスワード %> <br>(変更内容を更新するには現在のパスワードを入力してください)<br />
        <%= f.password_field :current_password, placeholder: "現在のパスワード", autocomplete: "current-password", class: "text_field" %>
      </div>
    </div>

    <div class="field">
      <%= f.submit "更新", class: "actions" %>
    </div>
  <% end %>
    <%= link_to :back do %>
      <button class="back">戻る</button>
    <% end %>
  </div>
</div>
