<div class="acount-main">
    <div class="acount">
      <ul class="acount-ul">
        <li class="acount-li"><%= link_to "アカウント", accounts_path, class: "acount-link-1" %></li>
        <li class="acount-li-2"><%= link_to "プロフィール", edit_account_path %></li>
      </ul>
    </div>


<h2>アカウント</h2>

<%= form_with model: @user, url: account_path do |f| %> <!--モデルで保存先を指定して、urlで飛び先を指定する。こうしないと、勝手にcreateメソッドが実行されてしまう-->
  <div class="field">
    <%= f.label "ユーザー画像" %><br />
    <%= image_tag (current_user.image.url), size: '55x55', class: "icon-image" %><br>
    <%= f.file_field :image %>
  </div>
  
  <div class="field">
    <%= f.label "名前" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label "自己紹介" %><br />
    <%= f.text_area :introduction, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>
</div>